{% extends 'base/base.html' %}

{% block title %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Áreas</a>
  </li>
  <li class="breadcrumb-item active">Personal por Áreas</li>
</ol>
{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i>
    Listado de personal
  </div>
  <div class="card-body">
    <div class="table-responsive">
      {% if not personas %}
      <h4>No hay empleados registrados</h4>
      {% else  %}
      <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
        <thead>
          <tr>
            <th>Id Persona</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha de Ingreso</th>
            <th>Area</th>
          </tr>
        </thead>

        <tbody>
          {% for item in personas %}
          <tr>
            <td>{{item.id_persona}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.apellido_paterno}} {{item.apellido_materno}}</td>
            <td>{{item.fecha_ingreso}}</td>
            <td>{{item.areas.nombre_area}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
