{% extends 'base/base.html' %}

{% block title %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Bienvenido</a>
  </li>
  <li class="breadcrumb-item active">inicio</li>
</ol>
{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-address-card"></i>
    Inicio
  </div>
  <div class="card-body text-center">
    <h1 style="font-size: 5em">Bienvenid@!!</h1>
    <h1>{{user.username}}</h1>
  </div>
</div>
{% endblock %}
