{% extends 'base/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="card mb-3">
  {# <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt explicabo vero veritatis ab fugit? Excepturi, illum possimus? Sunt, nobis consequatur sapiente repellendus soluta sed corrupti doloremque adipisci non, officiis in?</span>#}
  <div class="card-header">
    <i class="fa fa-users"></i>
    Formulario de altas
  </div>
  <div class="card-body">
    <form method="post" class="form-group" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        {{form.imagen.label}}
        {{form.imagen}}
      </div>

      <div class="form-group">
        {{form.nombre.label}}
        {{form.nombre}}
      </div>

      <div class="form-group">
        {{form.apellido_paterno.label}}
        {{form.apellido_paterno}}
      </div>

      <div class="form-group">
        {{form.apellido_materno.label}}
        {{form.apellido_materno}}
      </div>

      <div class="form-group">
        {{form.fecha_nacimiento.label}}
        {{form.fecha_nacimiento}}
      </div>

      <div class="form-group">
        {{form.curp.label}}
        {{form.curp}}
      </div>

      <div class="form-group">
        {{form.rfc.label}}
        {{form.rfc}}
      </div>

      <div class="form-group">
        {{form.sexo.label}}
        {{form.sexo}}
      </div>

      <div class="form-group">
        {{form.calle.label}}
        {{form.calle}}
      </div>

      <div class="form-group">
        {{form.numero_interior.label}}
        {{form.numero_interior}}
      </div>

      <div class="form-group">
        {{form.numero_exterior.label}}
        {{form.numero_exterior}}
      </div>

      <div class="form-group">
        {{form.colonia.label}}
        {{form.colonia}}
      </div>

      <div class="form-group">
        {{form.codigo_postal.label}}
        {{form.codigo_postal}}
      </div>

      <div class="form-group">
        {{form.pais.label}}
        {{form.pais}}
      </div>

      <div class="form-group">
        {{form.estado.label}}
        {{form.estado}}
      </div>

      <div class="form-group">
        {{form.municipio.label}}
        {{form.municipio}}
      </div>

      <div class="form-group">
        {{form.telefono.label}}
        {{form.telefono}}
      </div>

      <div class="form-group">
        {{form.celular.label}}
        {{form.celular}}
      </div>

      <div class="form-group">
        {{form.correo.label}}
        {{form.correo}}
      </div>

      <div class="form-group">
        {{form.datos_adicionales.label}}
        {{form.datos_adicionales}}
      </div>

      <div class="form-group">
        {{form.id_persona.label}}
        {{form.id_persona}}
      </div>

      <div class="form-group">
        {{form.fecha_ingreso.label}}
        {{form.fecha_ingreso}}
      </div>

      <div class="form-group" hidden>
        {{form.activo.label}}
        {{form.activo}}
      </div>

      <div class="form-group">
        {{form.areas.label}}
        {{form.areas}}
      </div>

      <div class="form-group">
        {{form.cargo.label}}
        {{form.cargo}}
      </div>

      <!-- {{ form.as_p }} -->

      <br>
      <div class="row">
        <div class="form-group col-md-4 ml-auto">
          <button type="submit" class="btn btn-success btn-block">Dar de alta</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
